.site-header {
    padding: 44px 0px;
  }
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__item {
    margin-left: 33px;
  }
  .navbar__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition: 1s;
  }
  .navbar__link:hover{
  color: #000;
  transition: 1s;
  }
  
  